*.env
__pycache__/
config*/*.cfg*
config*/*.toml*
.idea
.DS_Store
.vscode/*
*.db
*.db-shm
*.db-wal
cache/*
assets/arcaea*
assets/maimai*
assets/bots_list.json
assets/discord_slash_list.json
assets/modules_list.json
assets/schedulers_list.json
assets/modules/ai*
assets/modules/arcaea*
assets/arc.apk
assets/modules/maimai*
assets/modules/phigros*
assets/private*
bots/test/*
bots/**/assets
modules/test/*
webui/*
version*
!version.py
.pid_last
.cache_loader
.console_history
*.log
matrix_store
output/*
.bot.lock
/test*.*
!tester.py
.run/*
