*.env
*.pyc
*.pyc
config/*.cfg
.idea
assets/mcversion.txt
mcvrss.txt
assets/usercard/*
test*
assets/Favicon/*
assets/cache/*
save.db
cache/*
assets/mcversion_jira.txt
assets/cytoid-avatar/
assets/cytoid-cover/
.version