*.env
__pycache__/
config/*.cfg
.idea
assets/mcversion.txt
mcvrss.txt
assets/usercard/*
test*
assets/Favicon/*
assets/cache/*
save.db
cache/*
assets/mcversion_jira*
assets/cytoid-avatar/
assets/cytoid-cover/
.version*
.cache_loader
assets/arc**