repos:
    - repo: https://github.com/python-poetry/poetry-plugin-export
      rev: "1.9.0"
      hooks:
          - id: poetry-export
            args: ["--without-hashes", "-f", "requirements.txt", "-o", "requirements.txt"]
            verbose: true
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: "v2.0.4"
      hooks:
          - id: autopep8

    - repo: local
      hooks:
          - id: auto-generate-config
            name: Auto-generate config
            entry: poetry run python ./core/scripts/config_generate.py
            language: python
            pass_filenames: false


