pillow
aiohttp
beautifulsoup4
psutil
gql[all]
filetype
sqlalchemy
apscheduler
aioconsole
aiogram
ujson
pymysql
py-cord
tenacity
aiocqhttp
tabulate
feedparser
ffmpy
google_play_scraper
py-cpuinfo
aiofile
loguru
numpy
matplotlib
qq-botpy
