aiocqhttp==1.4.4 ; python_version >= "3.12" and python_full_version < "4.0.0"
aiofile==3.9.0 ; python_version >= "3.12" and python_version < "4"
aiofiles==24.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
aiogram==3.22.0 ; python_version >= "3.14" and python_full_version < "4.0.0"
aiogram==3.24.0 ; python_version >= "3.12" and python_version < "3.14"
aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
aiohttp-socks==0.10.1 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
aiohttp==3.12.15 ; python_version >= "3.12" and python_full_version < "4.0.0"
aiosignal==1.4.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
aiosqlite==0.21.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
akari-bot-webrender==0.5.12 ; python_version >= "3.12" and python_full_version < "4.0.0"
akari-bot-webui==0.3.6 ; python_version >= "3.12" and python_full_version < "4.0.0"
annotated-doc==0.0.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
anyio==4.10.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
apscheduler==3.11.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
argon2-cffi-bindings==25.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
argon2-cffi==25.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
asyncio-dgram==2.2.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
asyncmy==0.2.10 ; python_version >= "3.12" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.14.3 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
blinker==1.9.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
build==1.3.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
cachecontrol==0.14.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
caio==0.9.24 ; python_version >= "3.12" and python_full_version < "4.0.0"
cattrs==25.3.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
certifi==2025.8.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
cffi==2.0.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
cfgv==3.4.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
charset-normalizer==3.4.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
cleo==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.2.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_version >= "3.12" and python_full_version < "4.0.0" and (sys_platform == "win32" or platform_system == "Windows" or os_name == "nt")
contourpy==1.3.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
coverage==7.13.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
crashtest==0.4.1 ; python_version >= "3.12" and python_version < "4.0"
cryptography==46.0.4 ; python_version >= "3.12" and python_full_version < "4.0.0"
cycler==0.12.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
deprecated==1.3.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
distlib==0.4.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
distro==1.9.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
dnspython==2.7.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
dulwich==0.22.8 ; python_version >= "3.12" and python_full_version < "4.0.0"
emoji==2.15.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
fake-http-header==0.3.5 ; python_version >= "3.12" and python_full_version < "4.0.0"
fastapi==0.128.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
fastjsonschema==2.21.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
feedparser==6.0.12 ; python_version >= "3.12" and python_full_version < "4.0.0"
ff3==1.0.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
ffmpy==1.0.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
filelock==3.19.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
filetype==1.2.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
findpython==0.6.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
flask==3.1.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
flexcache==0.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
flexparser==0.4 ; python_version >= "3.12" and python_full_version < "4.0.0"
fonttools==4.59.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
frozenlist==1.7.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
google-play-scraper==1.2.7 ; python_version >= "3.12" and python_version < "4.0"
gql==4.0.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
graphql-core==3.2.6 ; python_version >= "3.12" and python_version < "4"
greenlet==3.2.4 ; python_version >= "3.12" and python_full_version < "4.0.0"
h11==0.16.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
h2==4.3.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
hpack==4.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
httpcore==1.0.9 ; python_version >= "3.12" and python_full_version < "4.0.0"
httptools==0.6.4 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
httpx==0.28.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
hypercorn==0.17.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
hyperframe==6.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
identify==2.6.13 ; python_version >= "3.12" and python_full_version < "4.0.0"
idna==3.10 ; python_version >= "3.12" and python_full_version < "4.0.0"
installer==0.7.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
iso639-lang==2.6.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
iso8601==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
japanera==2.1.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
jaraco-classes==3.4.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
jaraco-context==6.0.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
jaraco-functools==4.3.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
jeepney==0.9.0 ; python_version >= "3.12" and python_full_version < "4.0.0" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.12" and python_full_version < "4.0.0"
jiter==0.10.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
jsonschema-specifications==2025.4.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
jsonschema==4.25.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
kanjize==1.6.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
keyring==25.6.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
khl-py==0.3.17 ; python_version >= "3.12" and python_full_version < "4.0.0"
kiwisolver==1.4.9 ; python_version >= "3.12" and python_full_version < "4.0.0"
langconv @ git+https://github.com/Teahouse-Studios/langconv.py.git@c46b775d67c3bf2de3506927a4ac7aabba30b8b0 ; python_version >= "3.12" and python_full_version < "4.0.0"
limits==5.5.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
loguru==0.7.3 ; python_version >= "3.12" and python_version < "4.0"
magic-filter==1.0.12 ; python_version >= "3.12" and python_full_version < "4.0.0"
markupsafe==3.0.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
matplotlib==3.10.8 ; python_version >= "3.12" and python_full_version < "4.0.0"
matrix-nio==0.25.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
mcstatus==12.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
more-itertools==10.7.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
msgpack==1.1.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
multidict==6.6.4 ; python_version >= "3.12" and python_full_version < "4.0.0"
nodeenv==1.9.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
numpy==2.4.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
openai==2.16.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
orjson==3.11.6 ; python_version >= "3.12" and python_full_version < "4.0.0"
packaging==25.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pandas==3.0.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pbs-installer==2025.8.27 ; python_version >= "3.12" and python_full_version < "4.0.0"
pillow==12.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pint==0.25.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
pkginfo==1.12.1.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
platformdirs==4.4.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
playwright==1.55.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
poetry-core==2.1.3 ; python_version >= "3.12" and python_version < "4.0"
poetry-plugin-export==1.10.0 ; python_version >= "3.12" and python_version < "4.0"
poetry==2.1.4 ; python_version >= "3.12" and python_version < "4.0"
pre-commit==4.5.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
priority==2.0.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
propcache==0.3.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
psutil==7.2.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
py-cord @ git+https://github.com/Pycord-Development/pycord@233ca6404261219e5045610a14847107c713ccf7 ; python_version >= "3.12" and python_full_version < "4.0.0"
py-cpuinfo==9.0.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
pycparser==2.22 ; python_version >= "3.12" and python_full_version < "4.0.0" and implementation_name != "PyPy"
pycryptodome==3.23.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pycryptodomex==3.23.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pydantic-core==2.33.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
pydantic==2.11.7 ; python_version >= "3.12" and python_full_version < "4.0.0"
pyee==13.0.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pyjwt==2.11.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
pyparsing==3.2.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
pypika-tortoise==0.6.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
pyproject-hooks==1.2.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_full_version < "4.0.0"
python-dotenv==1.2.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
python-multipart==0.0.22 ; python_version >= "3.12" and python_full_version < "4.0.0"
python-socks==2.7.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
python-whois==0.9.6 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
pytz==2025.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_full_version < "4.0.0" and sys_platform == "win32"
pywin32==308 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
qq-botpy==1.2.1 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
quart==0.20.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
rapidfuzz==3.14.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
rdkit==2025.9.4 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
referencing==0.36.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
requests==2.32.5 ; python_version >= "3.12" and python_full_version < "4.0.0"
rpds-py==0.27.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
secretstorage==3.3.3 ; python_version >= "3.12" and python_full_version < "4.0.0" and sys_platform == "linux"
setuptools==80.9.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
sgmllib3k==1.0.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_full_version < "4.0.0"
simpleeval==1.0.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
six==1.17.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
slowapi==0.1.9 ; python_version >= "3.12" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
soupsieve==2.8 ; python_version >= "3.12" and python_full_version < "4.0.0"
starlette==0.47.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
tabulate==0.9.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
tenacity==9.1.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
tf-playwright-stealth==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
tomlkit==0.14.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
tortoise-orm==0.25.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
tqdm==4.67.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
trove-classifiers==2025.8.26.11 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
typing-inspection==0.4.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
tzdata==2025.2 ; python_version >= "3.12" and python_full_version < "4.0.0" and (sys_platform == "win32" or sys_platform == "emscripten" or platform_system == "Windows")
tzlocal==5.3.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
unpaddedbase64==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
uvicorn==0.40.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
uvloop==0.21.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
virtualenv==20.32.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
watchfiles==1.1.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
webcolors==25.10.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
websockets==15.0.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
werkzeug==3.1.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
win32-setctime==1.2.0 ; python_version >= "3.12" and python_full_version < "4.0.0" and sys_platform == "win32"
wolframalpha==5.1.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
wrapt==1.17.3 ; python_version >= "3.12" and python_full_version < "4.0.0"
wsproto==1.2.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
xattr==1.2.0 ; python_version >= "3.12" and python_full_version < "4.0.0" and sys_platform == "darwin"
xmltodict==0.14.2 ; python_version >= "3.12" and python_full_version < "4.0.0"
yarl==1.20.1 ; python_version >= "3.12" and python_full_version < "4.0.0"
zstandard==0.24.0 ; python_version >= "3.12" and python_full_version < "4.0.0"
