graia-application-mirai==0.19.0
pillow
googletrans
requests
ffmpy
aiohttp
beautifulsoup4
selenium
eventlet
psutil
gql[all]
graiax-silkcoder
graia-scheduler
filetype
sqlalchemy
apscheduler
aioconsole
aiogram
aiohttp_retry
ujson
pymysql
discord.py
tenacity
aiocqhttp
tabulate
feedparser
requests