[cfg]
debug = False
cache_path = ./cache/
db_path = mysql+pymysql://
db_cache = False
qq_msg_logging_to_db = True
qq_host = 127.0.0.1:11451
qq_account = 2052142661
dc_token =
base_superuser = QQ|2596322644
Check_accessKeyId =
Check_accessKeySecret =
qq_enable_dirty_check = True
qq_enable_urlmanager = True
web_render =
web_render_local =
botarcapi_url =
botarcapi_agent =
tg_token =
slower_schedule = False
enable_tos = False
enable_analytics = True
allow_request_private_ip = False
enable_eval = True
qqchannel_appid =
qqchannel_token =
qqchannel_secret =
