[secret]
db_path = mysql+pymysql://
Check_accessKeyId =
Check_accessKeySecret =
web_render =
botarcapi_url =
botarcapi_agent =
dc_token =
tg_token =
openai_api_key =
nl2c_model =
curseforge_api_key =
exchange_rate_api_key =

[cfg]
base_superuser = QQ|2596322644
debug = False
cache_path = ./cache/
db_cache = False
bug_report_url = https://s.wd-ljt.com/botreportbug
donate_url = https://afdian.net/@teahouse
help_url = https://bot.teahouse.team/wiki
issue_url = https://github.com/Teahouse-Studios/bot/issues/new/choose
wiki_whitelist_url = https://s.wd-ljt.com/botwhitelist
qq_msg_logging_to_db = True
qq_host = 127.0.0.1:11451
qq_account = 2052142661
qq_enable_dirty_check = True
qq_enable_urlmanager = True
qq_disable_temp_session = False
web_render_local =
slower_schedule = False
enable_tos = False
enable_analytics = True
allow_request_private_ip = False
enable_eval = True
