[secret]
db_path = "mysql+pymysql://"
check_accessKeyId =
check_accessKeySecret =
web_render =
botarcapi_url =
botarcapi_agent =
dc_token =
tg_token =
matrix_homeserver =
matrix_user =
matrix_token =
kook_token =
openai_api_key =
nl2c_model =
curseforge_api_key =
exchange_rate_api_key =
netease_cloud_music_api_url =

[cfg]
base_superuser = "QQ|2596322644"
debug = false
cache_path = "./cache/"
command_prefix = ["~", "～"]
confirm_command = ["是", "对", "對", "yes", "Yes", "YES", "y", "Y"]
bug_report_url = "https://s.wd-ljt.com/botreportbug"
donate_url = "https://afdian.net/@teahouse"
help_url = "https://bot.teahouse.team"
issue_url = "https://github.com/Teahouse-Studios/bot/issues/new/choose"
wiki_whitelist_url = "https://s.wd-ljt.com/botwhitelist"
qq_account = 2314163511
qq_host = "127.0.0.1:11451"
qq_disable_temp_session = false
qq_enable_listening_self_message = false
web_render_local =
slower_schedule = false
enable_dirty_check = true
enable_urlmanager = true
enable_tos = false
enable_analytics = true
allow_request_private_ip = false
enable_eval = true
coin_limit = 10000
coin_faceup_rate = 4994
coin_facedown_rate = 4994
dice_limit = 100
dice_roll_limit = 10
dice_mod_max = 10000
dice_mod_min = -10000
dice_output_cnt = 50
dice_output_len = 200
dice_detail_cnt = 5
dice_count_limit = 10
