html body {
    margin-top: 0px !important;
}

div.infobox div.notaninfobox {
    width: 100% !important;
    float: none !important;
    margin: 0 0 0 0 !important;
}

table.infobox {
    width: 100% !important;
    float: unset !important;
    margin: 0 0 0 0 !important;
}