name: Push Emoji Data

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Generate compressed JSON
        run: python scripts/fetch_emojimix_data.py

      - name: Compare files
        id: compare
        run: |
          if cmp --silent output.json /assets/emojimix/emoji_data.json; then
            echo "Files are identical. Skipping commit."
            exit 1
          fi

      - name: Move file to assets directory
        run: mv output.json /assets/emojimix/emoji_data.json

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add /assets/emojimix/emoji_data.json
          git commit -m "Update emoji data [skip ci]"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
